.app {
  .brand {
    position: absolute;
    top: 10px;
    left: 5px;
    display: inline-block;
    background: url('../../../static/images/logo.png') no-repeat center center;
    width: 270px;
    height: 40px;
    margin: 0 10px 0 0;
  }

  .footerBrand {
    position: relative;
    display: inline-block;
    background: url('../../../static/images/footer_logo.png') no-repeat center center;
    width: 206px;
    height: 28px;
    margin: 15px 10px 20px 0;
  }
  nav :global(.fa) {
    font-size: 2em;
    line-height: 20px;
  }
}
.appContent {

}