{{> header.html}}

<div>
    <div class="panel-body">
        <p>
            {{linkToChangePasswordTitle}}
        </p>
        <a href="{{siteUrl}}/change_password/?token={{token}}">
            {{siteUrl}}/change_password?token={{token}}
        </a>
    </div>
</div>


{{> footer.html}}